appName: "onix-local"
log:
  level: debug
  destinations:
    - type: stdout
  contextKeys:
    - transaction_id
    - message_id
    - subscriber_id
    - module_id
http:
  port: 8081
  timeout:
    read: 30
    write: 30
    idle: 30
pluginManager:
  root: ./plugins
modules:
  - name: bapTxnReceiver
    path: /bap/receiver/
    handler:
      type: std
      role: bap
      httpClientConfig:
        maxIdleConns: 1000
        maxIdleConnsPerHost: 200
        idleConnTimeout: 300s
        responseHeaderTimeout: 5s
      plugins:
        registry:
          id: registry
          config:
            url: http://registry:3030/subscribers
            retry_max: 3
            retry_wait_min: 100ms
            retry_wait_max: 500ms
        keyManager:
          id: simplekeymanager
          config:
            networkParticipant: bap-network
            keyId: 76EU7PktCXdPoNEZBjmg4Eb25A2egsd5MYJ67Qxza7bJQFvBHCYxgk
            signingPrivateKey: 9NBh67Pk/6v3irrkYZHlQ5E1qw+GivHdDFtKeCylzIM=
            signingPublicKey: Z3Hnc8FZDo/7dwWApeRVs6OV560gr7uxPsFUDGUMsBg=
            encrPrivateKey: 9NBh67Pk/6v3irrkYZHlQ5E1qw+GivHdDFtKeCylzIM=
            encrPublicKey: Z3Hnc8FZDo/7dwWApeRVs6OV560gr7uxPsFUDGUMsBg=
        cache:
          id: cache
          config:
            addr: redis:6379
        schemaValidator:
          id: schemavalidator
          config:
            schemaDir: ./schemas
        signValidator:
          id: signvalidator
        router:
          id: router
          config:
            routingConfig: ./config/local-simple-routing-BAPReceiver.yaml
        middleware:
          - id: reqpreprocessor
            config:
              uuidKeys: transaction_id,message_id
              role: bap
      steps:
        # - validateSign
        - addRoute
  
  - name: bapTxnCaller
    path: /bap/caller/
    handler:
      type: std
      role: bap
      httpClientConfig:
        maxIdleConns: 1000
        maxIdleConnsPerHost: 200
        idleConnTimeout: 300s
        responseHeaderTimeout: 5s
      plugins:
        registry:
          id: registry
          config:
            url: http://registry:3030/subscribers
            retry_max: 3
            retry_wait_min: 100ms
            retry_wait_max: 500ms
        keyManager:
          id: simplekeymanager
          config:
            networkParticipant: bap-network
            keyId: 76EU7PktCXdPoNEZBjmg4Eb25A2egsd5MYJ67Qxza7bJQFvBHCYxgk
            signingPrivateKey: 9NBh67Pk/6v3irrkYZHlQ5E1qw+GivHdDFtKeCylzIM=
            signingPublicKey: Z3Hnc8FZDo/7dwWApeRVs6OV560gr7uxPsFUDGUMsBg=
            encrPrivateKey: 9NBh67Pk/6v3irrkYZHlQ5E1qw+GivHdDFtKeCylzIM=
            encrPublicKey: Z3Hnc8FZDo/7dwWApeRVs6OV560gr7uxPsFUDGUMsBg=
        cache:
          id: cache
          config:
            addr: redis:6379
        router:
          id: router
          config:
            routingConfig: ./config/local-simple-routing-BAPCaller.yaml
        signer:
          id: signer
        middleware:
          - id: reqpreprocessor
            config:
              uuidKeys: transaction_id,message_id
              role: bap
      steps:
        - addRoute
        # - sign
  
  - name: bppTxnReceiver
    path: /bpp/receiver/
    handler:
      type: std
      role: bpp
      httpClientConfig:
        maxIdleConns: 1000
        maxIdleConnsPerHost: 200
        idleConnTimeout: 300s
        responseHeaderTimeout: 5s
      plugins:
        registry:
          id: registry
          config:
            url: http://registry:3030/subscribers
            retry_max: 3
            retry_wait_min: 100ms
            retry_wait_max: 500ms
        keyManager:
          id: simplekeymanager
          config:
            networkParticipant: bpp-network
            keyId: 76EU97uf1o6aPhkutTVwQxPW5ACvWCB4Mc1RBnUdLLxyQwDYmQk2bV
            signingPrivateKey: bTBQ++fLfL9HHXQom2rNgmfCKMfbfV+NeJKNPveV57U=
            signingPublicKey: azH1aCG8NNC2Otrx2kjUZ8ATw2EZCDCzela9Y+BXBhk=
            encrPrivateKey: bTBQ++fLfL9HHXQom2rNgmfCKMfbfV+NeJKNPveV57U=
            encrPublicKey: azH1aCG8NNC2Otrx2kjUZ8ATw2EZCDCzela9Y+BXBhk=
        cache:
          id: cache
          config:
            addr: redis:6379
        schemaValidator:
          id: schemavalidator
          config:
            schemaDir: ./schemas
        signValidator:
          id: signvalidator
        router:
          id: router
          config:
            routingConfig: ./config/local-simple-routing-BPPReceiver.yaml
      steps:
        # - validateSign
        - addRoute
  
  - name: bppTxnCaller
    path: /bpp/caller/
    handler:
      type: std
      role: bpp
      httpClientConfig:
        maxIdleConns: 1000
        maxIdleConnsPerHost: 200
        idleConnTimeout: 300s
        responseHeaderTimeout: 5s
      plugins:
        registry:
          id: registry
          config:
            url: http://registry:3030/subscribers
            retry_max: 3
            retry_wait_min: 100ms
            retry_wait_max: 500ms
        keyManager:
          id: simplekeymanager
          config:
            networkParticipant: bpp-network
            keyId: 76EU97uf1o6aPhkutTVwQxPW5ACvWCB4Mc1RBnUdLLxyQwDYmQk2bV
            signingPrivateKey: bTBQ++fLfL9HHXQom2rNgmfCKMfbfV+NeJKNPveV57U=
            signingPublicKey: azH1aCG8NNC2Otrx2kjUZ8ATw2EZCDCzela9Y+BXBhk=
            encrPrivateKey: bTBQ++fLfL9HHXQom2rNgmfCKMfbfV+NeJKNPveV57U=
            encrPublicKey: azH1aCG8NNC2Otrx2kjUZ8ATw2EZCDCzela9Y+BXBhk=
        cache:
          id: cache
          config:
            addr: redis:6379
        router:
          id: router
          config:
            routingConfig: ./config/local-simple-routing-BPPCaller.yaml
        signer:
          id: signer
      steps:
        - addRoute
        # - sign
